<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{app.name}} - {{app.fullname}}</title>
	<meta name="description" content="{{app.fullname}}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="apple-touch-icon" href="/src/dist/apple-touch-icon.png">
	<link rel="icon" href="/src/dist/favicon.ico">
	<link rel="stylesheet" href="/src/dist/css/vendor.min.css">
	<link rel="stylesheet" href="/src/dist/css/elephant.min.css">
	<link rel="stylesheet" href="/src/dist/css/application.min.css">
	{{#if profile}}
        <link rel="stylesheet" href="/src/dist/css/profile.css">
    {{/if}}
</head>

<body class="layout">

	<div class="layout-header">
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand navbar-brand-center" style="color:azure" href="/">
					<img class="navbar-brand-logo" src="/src/dist/img/logo1.png" alt="Alfacode.me">
				</a>
				<button class="navbar-toggler collapsed visible-xs-block" type="button" data-toggle="collapse" data-target="#sidenav">
            <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
          </button>
				<button class="navbar-toggler collapsed visible-xs-block" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="arrow-up"></span>
			<span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="/src/dist/img/profile/{{user.image}}">
            </span>
          </button>
			</div>
			<div class="navbar-toggleable">
				<nav id="navbar" class="navbar-collapse collapse">
					<button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
            </button>
					<ul class="nav navbar-nav navbar-right">
						<li class="visible-xs-block">
							<h4 class="navbar-text text-center">Hay, {{user.nama_depan}}</h4>
						</li>
						<li class="hidden-xs hidden-sm">
							<form class="navbar-search navbar-search-collapsed" action="/search/dessy">
								<div class="navbar-search-group">
									<input name="cari" class="navbar-search-input" type="text" placeholder="Cari dessy disini...">
									<button class="navbar-search-toggler" title="Cari Dessy" type="button">
										<span class="icon icon-search icon-lg"></span>
									</button>
									<input class="navbar-search-adv-btn" type="submit" value="Cari">
								</div>
							</form>
						</li>
						<li class="dropdown hidden-xs">
							<button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
								<img class="rounded" width="36" height="36" src="/src/dist/img/profile/{{user.image}}" alt="{{user.nama_depan}} {{user.nama_belakang}}"> {{user.nama_depan}} {{user.nama_belakang}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a href="/profile">
										<h5 class="navbar-upgrade-heading">
											{{user.username}}
											<small class="navbar-upgrade-notification">{{user.email}}</small>
										</h5>
									</a>
								</li>
								<li class="divider"></li>
								<li><a href="/profile">Profil</a></li>
								<li><a href="/auth/logout">Keluar</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="layout-main" id="app">
		<div class="layout-sidebar">
			<div class="layout-sidebar-backdrop"></div>
			<div class="layout-sidebar-body">
				<nav id="sidenav" class="sidenav-collapse collapse">
					<ul class="sidenav">
						<li class="sidenav-heading">Navigasi</li>
						<li class="sidenav-item">
							<a href="/search/dessy">
								<span class="sidenav-icon icon icon-search"></span>
								<span class="sidenav-label">Cari Dessy</span>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="/dessy/new">
								<span class="sidenav-icon icon icon-calendar"></span>
								<span class="sidenav-label">Dessy Terbaru</span>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="/dessy/create">
								<span class="sidenav-icon icon icon-sitemap"></span>
								<span class="sidenav-label">Buat Dessy</span>
							</a>
						</li>
						<li class="sidenav-item">
							<a href="/profile">
								<span class="sidenav-icon icon icon-user"></span>
								<span class="sidenav-label">Profil</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="layout-content">
			{{#if profile}}
				{{{body}}}
			{{else}}
				<div class="layout-content-body">
					{{{body}}}
				</div>
			{{/if}}
		</div>
		<br><br>
		<div class="layout-footer">
			<div class="layout-footer-body">
				<small>Terima kasih telah menggunakan <a href="https://dessy.alfacode.me">Dessy</a> oleh <a href="https://alfacode.me">Alfacode.me</a>.</small>
			</div>
		</div>
	</div>

	<script src="/module/vue/dist/vue.js"></script>
	<script src="/src/js/initvue.js"></script>
	<script src="/src/js/components.js"></script>

	<script src="/src/dist/js/vendor.min.js"></script>
	<script src="/src/js/{{js}}.js"></script>
	<script src="/src/dist/js/elephant.min.js"></script>
	<script src="/src/dist/js/application.min.js"></script>
	{{#if profile}}
        <script src="/src/dist/js/profile.js"></script>
    {{/if}}
	<script src="/src/js/dessy.js"></script>
</body>

</html>